@import url("../index.css");
@import url("../calendar.css");
@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

@font-face {
  font-family: "TTWanjudaedunsancheB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(160, 187, 237);
  margin: 0;
}

main {
  min-width: 300px;
  width: 100%;
  max-width: 700px;
}

main > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
  background-color: white;
  border-radius: 0 0 1em 1em;
  margin-bottom: 0.5em;
}

main > header .logo {
  height: 7svh;
  aspect-ratio: 2 / 1;
}

#diary-or-todo {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#diary-or-todo div.now {
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: cornflowerblue;
}

article.todos {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 0.5em;
}
main > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
  background-color: white;
  border-radius: 1em 1em 0 0;
  margin-top: 0.5em;
  font-family: "TTWanjudaedunsancheB";
  font-size: large;
  flex: 1;
  position: fixed;
  bottom: 0;
  max-width: 700px;
  width: 700px;
  justify-content: space-evenly;
}
.write-button {
  width: 65px;
}
.bottom {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.todoshowbox {
  width: 700px;
  background-color: white;
  border-radius: 1em 1em 1em 1em;
  height: 280px;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  padding: 5%;
  position: relative;
  overflow: scroll;
}

.todoshowbox::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.diaryimg {
  width: 80px;
  margin: 2em;
}
.show-month-day {
  font-family: "TTWanjudaedunsancheB";
  font-size: large;
  margin-left: 2em;
}
.box {
  width: 150px;
  border-radius: 1em 1em 1em 1em;
}

.todolist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "TTWanjudaedunsancheB";
  font-size: large;
}

@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

td {
  width: 50px;
  height: 50px;
}

.Calendar {
  text-align: center;
  justify-content: space-between;
  width: 700px;

  background-color: white;
  border-radius: 1em 1em 1em 1em;
}

.Calendar > thead > tr:first-child > td {
  font-family: "Questrial", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.Calendar > thead > tr:last-child > td {
  font-family: "Questrial", sans-serif;
  font-weight: 600;
}

.Calendar > tbody > tr > td > p {
  font-family: "Montserrat", sans-serif;
  height: 60px;
  width: 60px;
  border-radius: 45px;
  transition-duration: 0.2s;
  line-height: 45px;
  margin: 2.5px;
  display: block;
  text-align: center;
}

.pastDay {
  color: lightgray;
}

.today {
  background-color: #f5d042;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.futureDay {
  background-color: #ffffff;
  cursor: pointer;
}
.futureDay:hover {
  background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #0a174e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.modify-box {
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4%;
  /* margin-top: -8em;
  margin-left: 40%; */
}
.modify1 {
  width: 35px;
}
.modify2 {
  width: 35px;
}
.box2 {
  font-family: "TTWanjudaedunsancheB";
  /* margin-left: -50%; */
}
.dropcss {
  text-align: center;
  height: 70px;
}
.dropdown-menu-css {
  margin-left: 5%;
}
.timelineshow {
  margin-left: 5%;
  font-family: "TTWanjudaedunsancheB";
  font-size: 25px;
}
.hi {
  float: left;
  overflow: scroll;
  height: 280px;
  width: 600px;
  border: 2px solid;
  margin-left: 7%;
  margin-top: 1%;
}

.hi-margin {
  height: 50px;
  background-color: #a8cce7;
}
.hi-main {
  /* background-color: #dada3b; */
  height: 180px;
  width: 600px;
}
.box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.footershow {
  height: 90px;
}
.dropcss {
  text-align: center;
  height: 70px;
}
.dropdown-menu-css {
  margin-left: 5%;
}
.showimg {
  width: 150px;
  margin: 10%;
}
.diaryList {
  width: 350px;
}
