@import "../monthly.css";

main {
  height: 100%;
}

.calendar.dates>div.diary-written {
  background-color: var(--bg-color);
  border-radius: 50%;
}

#diaries {
  margin-bottom: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.diary {
  display: flex;
  align-items: stretch;
}

article.diary {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 0.5em;
}

.diary.date-emo-img {
  flex-direction: column;
  width: 30%;
}

.diary.date-emo {
  width: 100%;
  justify-content: space-between;
}

.diary.date {
  font-weight: 600;
}

.diary.emo {
  width: 50%;
}