body {
  background-color: #c9dcff;
  display: flex;
  justify-content: space-around;
}

main {
  background-color: #edf5ff;
  width: 740px;
  height: 100%;
  border-radius: 15px;
}

.date {
  font-family: "Hi Melody";
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  flex-grow: 1;
}

.top {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.centered {
  flex-grow: 1;
  text-align: center;
}

.close {
  margin-left: auto;
  text-decoration: none;
  color: black;
  font-size: 45pt;
}

.close:after {
  position: relative;
  margin-left: auto;

  text-decoration: none;
  content: "\00d7";
  font-size: 50pt;
  line-height: 55px;
}

.emotion {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.root {
  display: flex;
  text-align: center;
}

.title {
  font-family: "ImcreSoojin";
  font-size: 27px;
  margin-left: 170px;
}

.feelings {
  text-align: center;
  font-family: "Hi Melody";
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1px 1px gray;
  margin-top: 10px;
}

.home {
  margin-left: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  filter: grayscale(1);
  cursor: pointer;
}

.form_feeling input[type="radio"]:checked + label {
  filter: grayscale(0);
  font-weight: bold;
  filter: drop-shadow(3px 3px 3px black);
}

.form_feeling {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  margin-top: 0;
  font-family: "Hi Melody";
  font-weight: 700;
  font-size: 18px;
}

.img_upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  cursor: pointer;
  font-size: 23px;
  font-family: "Hi Melody";
  font-weight: 500;
  text-shadow: 1px 1px gray;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgb(77, 77, 77);
  color: #fff;
}

.btn_box {
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 20%;
  border-radius: 20px;
  background-color: white;
  border: 3px solid skyblue;
  cursor: pointer;
  padding: 8px;
  font-family: "Hi Melody";
  font-size: 25px;
  font-weight: 700;
  box-shadow: 3px 3px gray;
  text-shadow: 1px 1px gray;
}

fieldset {
  border-radius: 15px;
  border-color: #000;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}

.btn:hover {
  background-color: skyblue;
  color: white;
  text-shadow: 2px 2px black;
}

.txt {
  border-radius: 4px;
  font-size: 20px;
}

.txt_diary {
  width: 685px;
  height: 150px;
  font-size: 24px;
  font-family: "KyoboHand";
}

@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.uploadBtn {
  font-family: "Hi Melody";
  font-size: 25px;
  border-radius: 20px;
  background-color: white;
  border: 3px solid skyblue;
  font-weight: 600;
  cursor: pointer;
  width: 90px;
  padding: 6px;
  box-shadow: 3px 3px gray;
  text-shadow: 1px 1px gray;
}

.uploadBtn:hover {
  background-color: skyblue;
  color: white;
  text-shadow: 2px 2px black;
}

@font-face {
  font-family: "ImcreSoojin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
