#register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_warp {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.logo {
  margin-top: 1em;
  display: flex;
  position: relative;
  justify-content: center;
  text-decoration: none;
  color: #73a5de;
  font-size: 25px;
  font-weight: bold;
}

input {
  width: 80%;
  font-size: 15px;
  padding-left: 15px;
  border: none;
}

input:focus {
  outline: none;
}

#login_form {
  margin-top: 1em;
}

.form_item_top {
  width: 460px;
  /* 테두리 상단 둥글게 */
  border: 1px solid #777;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 50px;
  padding: 0 10px 0 15px;
}

.form_item {
  width: 460px;
  border: 1px solid #777;
  border-radius: 0px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 50px;
  padding: 0 10px 0 15px;
}

.form_item_bottom {
  width: 460px;
  /* 테두리 하단 둥글게 */
  border: 1px solid #777;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 50px;
  padding: 0 10px 0 15px;
}

.panel_inner {
  width: 460px;
}

.keep_check input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #777;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-top: 1em;
}

.keep_check input[type="checkbox"]:checked {
  background-color: #73a5de;
  border: #73a5de;
}

.keep_check .keep_text {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #777;
  position: relative;
  bottom: 6px;
}

.btn {
  font-size: 20px;
  width: 460px;
  height: 50px;
  display: flex;
  margin-top: 0.2em;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #73a5de;
  box-shadow: 0 2px 4px 0 rgba(3, 147, 199, 0.12);
  text-decoration: none;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.btn:first-child {
  margin-top: 1em;
}