<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>그날의 하늘</title>
  </head>
  <body>
    <div class="">
      <a class="" href="/">그날의 하늘</a>
    </div>
    <div class="">
      <h3>Welcome</h3>
      <button class="" onclick="login()">로그인</button>
      <button class="" onclick="signup()">회원가입</button>
      <a href="/profile">프로필</a>
      <a href="/logout">로그아웃</a>
    </div>

    <script src="/public/js/home.js"></script>
  </body>
</html>
