<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios cdn -->
    <link rel="stylesheet" href="/public/style/signup.css" />
    <title>그날의 하늘</title>
  </head>
  <body>
    <div id="warp">
      <a class="logo" href="/">그날의 하늘</a>
      <div class="login_warp">
        <form name="form_register" id="register_form" method="POST">
          <div class="panel_inner">
            <div class="form_item_top">
              <label for="username">ID</label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="아이디"
                onfocusout="checkId()"
                autofocus
                required
              />
            </div>
            <div class="form_item_bottom">
              <label for="password">pw</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="비밀번호"
                onfocusout="checkPw()"
                required
              />
            </div>
          </div>
          <button class="btn" type="submit" for="register_form">제출</button>
        </form>
      </div>
    </div>
    <script src="/public/js/signup.js"></script>
  </body>
</html>
