<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style/startpage.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="main-css">
      <img class="cloudimg3 fade-in-box" src="/image/3.png" />
      <img class="cloudimg" src="/image/1.png" />
      <img class="cloudimg2" src="/image/2.png" />

      <div class="text1 fade-in-box">그날의 하늘</div>
      <div class="text2 fade-in-box">기분이 태도가 되지 않게</div>
      <div class="form fade-in-box">
        <a href="/login" class="form-button fade-in-box">LOGIN</a>
        <a href="/signup" class="form-button fade-in-box">REGISTER</a>
      </div>
      <img class="cloudimg4" src="/image/4.png" />
      <img class="cloudimg44" src="/image/4.png" />
      <img class="cloudimg5" src="/image/5.png" />
      <img class="cloudimg6 fade-in-box" src="/image/6.png" />
      <img class="cloudimg7 fade-in-box" src="/image/6.png" />
    </div>
    <script>
      function signup() {
        location.href = "/signup";
      }
      function login() {
        location.href = "/login";
      }
    </script>
  </body>
</html>
