@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

@font-face {
  font-family: "TTWanjudaedunsancheB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: rgb(242, 246, 247);
}

div {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 400px;
  margin: 0px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

td {
  width: 50px;
  height: 50px;
}

.Calendar {
  text-align: center;
  float: left;
  margin-top: 1%;
  margin-left: 25%;
  font-family: "TTWanjudaedunsancheB";
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  padding: 1%;
}

.Calendar > thead > tr:first-child > td {
  font-family: "Questrial", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.Calendar > thead > tr:last-child > td {
  font-family: "Questrial", sans-serif;
  font-weight: 600;
}

.Calendar > tbody > tr > td > p {
  font-family: "Montserrat", sans-serif;
  height: 45px;
  width: 45px;
  border-radius: 45px;
  transition-duration: 0.2s;
  line-height: 45px;
  margin: 2.8px;
  display: block;
  text-align: left;
  font-size: 4px;
}

.pastDay {
  color: lightgray;
  cursor: pointer;
}

.today {
  background-color: #f5d042;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.futureDay {
  background-color: #ffffff;
  cursor: pointer;
}

.futureDay:hover {
  background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #0a174e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.modal-title {
  font-size: 17px;
  text-align: left;
  font-weight: bold;
}

.modal_table {
  width: 100%;
}

#modal_userImg {
  width: 50px;
  height: 50px;
  border-radius: 75%;
}

#modal_userId {
  width: 200px;
}

#modal_userFollow {
  margin: 10px;
  text-align: right;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 33%;
}

.navbar__menu li {
  padding: 8px 30px;
}

.main-css {
  max-width: 740px;
  margin: 4% auto;
  background-color: #a8cce7;
  /* background: #ffffff; */
  /* height: 1000px; */
  width: 742px;
}

.navbar1__menu {
  list-style: none;
  display: flex;
  margin: -20;
  padding-left: 33%;
  float: auto;
}

.navbar1__menu li {
  padding: 8px 30px;
}

.bottom {
  background: #ffffff;
  /* background-color: #99bcf1; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 740px;
  width: 80%;
  margin: 0 auto;
  height: 90px;
  font-family: "TTWanjudaedunsancheB";
  font-size: larger;
}
.bottom-item1 {
  float: left;
  width: 30%;
  height: 8%;
  text-align: center;
  margin-left: 5%;
}
.bottom-item2 {
  float: right;
  width: 25%;
  height: 8%;
  text-align: center;
  margin-right: 8%;
}
.top {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 740px;
  width: 740px;
  margin: 0 auto;
  height: 10%;
  font-family: "TTWanjudaedunsancheB";
}
.top-item {
  float: left;
  width: 6%;
  height: 10%;
  margin-left: 10%;
}
.top-item2 {
  float: left;
  width: 6%;
  height: 10%;
  margin-left: 5%;
}
.top-logo {
  float: left;
  width: 100px;
  height: 50px;
}
.hi {
  float: left;
  overflow: scroll;
  height: 290px;
  width: 550px;
  border: 2px solid;
  margin-left: 0%;
}

.hi-margin {
  height: 50px;
  background-color: #a8cce7;
}
.hi-main {
  background-color: #dada3b;
  height: 320px;
  width: 600px;
}
.box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

label {
  font-size: 18px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
  margin-left: 0%;
}

/* span {
  vertical-align: middle;
} */

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
  border: 0.4em solid rgb(76, 134, 235);
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted rgb(102, 128, 232);
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Global CSS */
fieldset {
  display: flex;
  justify-content: center;
  border: 2px solid;
  width: 500px;
  /* margin: 0;
  padding: 40px 20px; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hiline {
  border-left: 3px solid #cadbec;
  height: 400px;
  margin-left: 22%;
  margin-top: -30%;
}
.center-bo {
  width: 100%;
  height: 100%;
}
.diaryimg {
  width: 90px;
  margin-left: -20%;
  margin-top: 0%;
}
.write-button {
  /* background-color: #dada3b; */
  width: 65px;
  font-family: "TTWanjudaedunsancheB";
  border-radius: 30px 30px 30px 30px;
  margin-left: 13%;
  margin-top: -1%;
}
.show-month-day {
  font-family: "TTWanjudaedunsancheB";
  margin-left: -2%;
  margin-top: -2%;
  width: 140px;
  font-size: 18px;
}
.modify-box {
  height: 30px;
  margin-top: -5%;
}
.modify1 {
  margin-left: 60%;
  margin-top: -10%;
  width: 30px;
  height: 30px;
}
.modify2 {
  margin-left: 3%;
  margin-top: -10%;
  width: 30px;
  height: 30px;
}
.daytext {
  size: 5px;
  background-color: #b0d331;
}
.dairyimg-box {
  width: 100px;
  height: 100px;
  float: left;
  margin-top: -10%;
  margin-left: 8%;
}
.dairybox1 {
  width: 110px;
  height: 110px;
  margin: auto;
  float: left;
  margin-left: -14%;
}
.dairybox2 {
  width: 110px;
  height: 110px;
  margin: auto;
  float: left;
  margin-left: 1%;
  margin-top: -11%;
}
.dairybox3 {
  width: 110px;
  height: 110px;
  margin: auto;
  float: left;
  margin-left: 1%;
  margin-top: -22%;
}
.diary-text {
  font-family: "TTWanjudaedunsancheB";
}
fieldset {
  width: 500px;
}
.total-img {
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 3%;
  margin-top: -8%;
}
.dropcss {
  text-align: center;
  height: 70px;
}
.dropdown-menu-css {
  margin-left: 5%;
}
.timelineshow {
  margin-left: 5%;
  font-family: "TTWanjudaedunsancheB";
  font-size: 25px;
}

@media (min-width: 691px) and (max-width: 900px) {
  .bottom {
    max-width: 580px;
    /* width: 80%; */
    /* margin: 0 auto; */
    color: #dada3b;
  }
  .bottom-item {
    float: left;
    width: 16%;
    height: 8%;
    text-align: center;
  }
  .top {
    max-width: 580px;
    /* width: 100%; */
    margin: 0 auto;
    height: 5%;
  }
  .top-item {
    float: left;
    width: 5%;
    height: 10%;
    margin-left: 10%;
  }
  .top-item2 {
    float: left;
    width: 5%;
    height: 10%;
    margin-left: 5%;
  }
  .top-logo {
    float: left;
    width: 80px;
    height: 45px;
  }
  .Calendar {
    margin-top: 10%;
  }
  .main-css {
    max-width: 619px;
    margin: 0 auto;
    background: #ffffff;
    height: 900px;
    /* width: 742px; */
  }
}
body {
  margin-top: 100px;
  font-family: "Trebuchet MS", serif;
  line-height: 1.6;
}
.container {
  width: 500px;
  margin: 0 auto;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  background: #ededed;
  color: #222;
}

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current {
  display: inherit;
}

@media (min-width: 501px) and (max-width: 690px) {
  .bottom {
    max-width: 400px;
    /* width: 80%; */
    margin: 0 auto;
    color: #424bf5;
    font-size: 12px;
  }
  .bottom-item {
    float: left;
    width: 12%;
    height: 8%;
    text-align: center;
  }
  .top {
    max-width: 400px;
    /* width: 100%; */
    margin: 0 auto;
    height: 5%;
  }
  .top-item {
    float: left;
    width: 5%;
    height: 10%;
    margin-left: 10%;
    font-size: 10px;
  }
  .top-item2 {
    float: left;
    width: 5%;
    height: 10%;
    margin-left: 2%;
    font-size: 10px;
  }
  .top-logo {
    float: left;
    width: 75px;
    height: 45px;
  }
  .main-css {
    max-width: 440px;
    margin: 0 auto;
    height: 900px;
  }
  .Calendar {
    margin-top: 14%;
  }
}
@media (min-width: 200px) and (max-width: 500px) {
  .main-css {
    max-width: 440px;
    margin: 0 auto;
    height: 900px;
  }
  .top {
    max-width: 400px;
    /* width: 100%; */
    margin: 0 auto;
    height: 5%;
  }
  .top-item {
    float: left;
    width: 4%;
    height: 10%;
    margin-left: 10%;
    font-size: 10px;
  }
  .top-item2 {
    float: left;
    width: 4%;
    height: 10%;
    margin-left: 2%;
    font-size: 10px;
  }
  .bottom {
    max-width: 500px;
    /* width: 80%; */
    margin: 0 auto;
    color: #b0d331;
    font-size: 10px;
  }
  .bottom-item {
    float: left;
    width: 13%;
    height: 8%;
    text-align: center;
  }
  .Calendar {
    margin-top: 12%;
  }
}
