<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>write diary</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/style/diary/write.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Lora&family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header>
        <div class="top">
          <a href="/">
            <img
              src="/public/images/home.png"
              width="40"
              height="40"
              class="home"
              alt="home"
            />
          </a>
          <div class="title">
            <%= year %>년 <%= month %>월 <%= date %>일의 일기
          </div>
          <a href="/" class="close"></a>
        </div>
      </header>

      <hr />
      <form
        name="feeling_form"
        class="form_feeling"
        enctype="multipart/form-data"
      >
        <fieldset>
          <div class="feelings">
            <img
              src="/public/images/emotion-recognition.png"
              width="30px"
              height="30px"
            />
            오늘의 기분
          </div>
          <br />
          <div class="emotion">
            <input type="radio" name="feeling" id="happy" value="1" />
            <label for="happy">
              <img
                src="/feel/happy.png"
                width="100px"
                height="100px"
                alt="happy"
              />
            </label>
            <input type="radio" name="feeling" id="good" value="2" />
            <label for="good">
              <img
                src="/feel/good.png"
                width="100px"
                height="100px"
                alt="good"
              />
            </label>
            <input type="radio" name="feeling" id="soso" value="3" />
            <label for="soso">
              <img
                src="/feel/soso.png"
                width="100px"
                height="100px"
                alt="soso"
              />
            </label>
            <input type="radio" name="feeling" id="not_bad" value="4" />
            <label for="not_bad">
              <img
                src="/feel/not_bad.png"
                width="100px"
                height="100px"
                alt="notbad"
              />
            </label>
            <input type="radio" name="feeling" id="bad" value="5" />
            <label for="bad">
              <img src="/feel/bad.png" width="100px" height="100px" alt="bad" />
            </label>
          </div>
        </fieldset>
        <br />
        <fieldset>
          <div class="feelings">
            <img src="/public/images/pictures.png" width="30px" height="30px" />
            오늘의 사진
          </div>
          <br />
          <div class="img_upload">
            <input
              type="file"
              name="uploadfile"
              id="upload"
              onchange="readURL(this)"
            />
            <br />
            <button type="button" onclick="fileUpload()" class="uploadBtn">
              업로드
            </button>
          </div>
          <br />
          <img id="img" src="" width="200" name="img" />
        </fieldset>
        <br />
        <fieldset>
          <div class="feelings">
            <img src="/public/images/diary.png" width="30px" height="30px" />
            오늘의 일기
          </div>
          <br />
          <div class="txt">
            <textarea id="diary_write" name="diary_write" class="txt_diary">
            </textarea>
          </div>
        </fieldset>
        <br />
        <div class="btn_box">
          <button class="btn" type="button" onclick="sendDiary()">
            작성 완료
          </button>
        </div>
        <br />
      </form>
    </main>
    <script src="/public/js/diary/write.js"></script>
  </body>
</html>
